<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - StudentsManager</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/StudentsManager.styles.css" asp-append-version="true"/>
</head>

<body>
<div class="d-flex" style="height: 75vh;">
    <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light my-navbar-blue border-bottom box-shadow mb-3">
        <div class=" text-white" style="width: 100px; align-self: center;">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ClassGroups" asp-action="Index">
                        Plan
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">
                        Privacy
                    </a>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Students" asp-action="Index">
                            Students
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Teachers" asp-action="Index">
                            Teachers
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">
                            Logout
                        </a>
                    </li>
                }
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">
                            Register new user<user></user>
                        </a>
                    </li>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">
                            Login
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="flex-grow-1">
        <main role="main" class="container">
            @RenderBody()
        </main>
    </div>
</div>
<div style="bottom:0;position: fixed; width:100%;">
    <footer class="border-top footer text-muted">
        <div class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light my-navbar-blue border-bottom box-shadow mb-3">
            &copy; 2024 - StuDio - <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>