@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            <h1 class="display-4">Logged As Admin</h1>
        }
        else
        {
            <h1 class="display-4">Logged As User</h1>
        }
    }
    else
    {
        <h1 class="display-4">Welcome!</h1>
    }
</div>

<div class="text-center">
    <img src="~/Icons/logo.png" alt="Logo" width="220" height="220">
</div>

<div class="text-center" style="display: flex; justify-content: center; align-items: center;">
    <img src="~/Icons/lamp.ico" alt="Lamp">
    <img src="~/Icons/case.ico" alt="Case">
    <img src="~/Icons/laptop.ico" alt="Laptop">
</div>