html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.my-navbar-blue {
    background-image: linear-gradient(to left, #007bff, #6c757d);
}
